{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href ="{% static 'css/w3.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static "css/base.css" %}" rel="stylesheet">
<style>
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
body {font-family: "Times New Roman", Georgia, Serif;}
.w3-tag{height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body>
<!-- Navbar -->
<div class="w3-top">
  <ul class="w3-navbar w3-light-grey w3-wide w3-padding-8 w3-card-2">
        <li class="w3-hide-small">
            <a href="/" class="w3-padding-large w3-hover-white w3-left">Menu</a>
            <a href="{% url 'shop:about' %}" class="w3-padding-large w3-hover-white w3-left">About</a>
            <a href="{% url 'shop:contact' %}" class="w3-padding-large w3-hover-white w3-left">Contact Us</a>
        </li>
        <li class="w3-right">
            {% with total_items=cart|length %}
            {% if cart|length > 0 %}
            <a href="{% url "cart:cart_detail" %}" class="w3-padding-large w3-hover-white w3-right">{{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
            </a>
            <a class="w3-padding-large w3-hover-white w3-right">Your cart:</a>
            {% else %}
            <a class="w3-padding-large w3-hover-white w3-margin-right">Your cart is empty.</a>
            {% endif %}
            {% endwith %}
        </li>
  </ul>
</div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
<!---Content-->
<div class="w3-content" style="max-width:1100px; margin-top:90px; margin-bottom:80px">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-12">About Us</h3>
    <p>We love baking so much we decided to open our own bakery!
    </p>
    <br>
    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col l4 m6 w3-margin-bottom w3-center">
            <img src="/static/img/ray.jpg" alt="Ray" style="width:100%">
            <h3>Sharayah</h3>
            <p class="w3-opacity">Baker</p>
            <p>Enjoys baking, working with CSS, and designing Use Case Diagrams.</p>
        </div>
        <div class="w3-col l4 m6 w3-margin-bottom w3-center">
            <img src="/static/img/ray.jpg" alt="Daisuke" style="width:100%">
            <h3>Daisuke</h3>
            <p class="w3-opacity">Baker</p>
            <p>Enjoys baking, creating State Machine Diagrams, and working on databases.</p>
        </div>
        <div class="w3-col l4 m6 w3-margin-bottom w3-center">
            <img src="/static/img/ray.jpg" alt="Brian" style="width:100%">
            <h3>Brian</h3>
            <p class="w3-opacity">Baker</p>
            <p>Enjoys baking, being our project leader, and designing Sequence Diagrams.</p>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-16">
  <p>Created by: Team A</p>
</footer>
</body>
</html>